In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy as sp
import sklearn as sk
import warnings
warnings.filterwarnings('ignore')

In [2]:
train_data = pd.read_csv('Train_v2.csv')
test_data = pd.read_csv('Test_v2.csv')
variable_defination = pd.read_csv('VariableDefinitions.csv')

In [3]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10086 entries, 0 to 10085
Data columns (total 12 columns):
country                   10086 non-null object
year                      10086 non-null int64
uniqueid                  10086 non-null object
location_type             10086 non-null object
cellphone_access          10086 non-null object
household_size            10086 non-null int64
age_of_respondent         10086 non-null int64
gender_of_respondent      10086 non-null object
relationship_with_head    10086 non-null object
marital_status            10086 non-null object
education_level           10086 non-null object
job_type                  10086 non-null object
dtypes: int64(3), object(9)
memory usage: 945.6+ KB

In [4]:
train_data.head()

,country,year,uniqueid,bank_account,location_type,cellphone_access,household_size,age_of_respondent,gender_of_respondent,relationship_with_head,marital_status,education_level,job_type
0,Kenya,2018,uniqueid_1,Yes,Rural,Yes,3,24,Female,Spouse,Married/Living together,Secondary education,Self employed
1,Kenya,2018,uniqueid_2,No,Rural,No,5,70,Female,Head of Household,Widowed,No formal education,Government Dependent
2,Kenya,2018,uniqueid_3,Yes,Urban,Yes,5,26,Male,Other relative,Single/Never Married,Vocational/Specialised training,Self employed
3,Kenya,2018,uniqueid_4,No,Rural,Yes,5,34,Female,Head of Household,Married/Living together,Primary education,Formally employed Private
4,Kenya,2018,uniqueid_5,No,Urban,No,8,26,Male,Child,Single/Never Married,Primary education,Informally employed

In [5]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23524 entries, 0 to 23523
Data columns (total 13 columns):
country                   23524 non-null object
year                      23524 non-null int64
uniqueid                  23524 non-null object
bank_account              23524 non-null object
location_type             23524 non-null object
cellphone_access          23524 non-null object
household_size            23524 non-null int64
age_of_respondent         23524 non-null int64
gender_of_respondent      23524 non-null object
relationship_with_head    23524 non-null object
marital_status            23524 non-null object
education_level           23524 non-null object
job_type                  23524 non-null object
dtypes: int64(3), object(10)
memory usage: 2.3+ MB

In [6]:
np.unique(train_data['country'])

array(['Kenya', 'Rwanda', 'Tanzania', 'Uganda'], dtype=object)

In [7]:
train_update = pd.get_dummies(train_data, columns = ['country'])

In [8]:
train_update.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23524 entries, 0 to 23523
Data columns (total 16 columns):
year                      23524 non-null int64
uniqueid                  23524 non-null object
bank_account              23524 non-null object
location_type             23524 non-null object
cellphone_access          23524 non-null object
household_size            23524 non-null int64
age_of_respondent         23524 non-null int64
gender_of_respondent      23524 non-null object
relationship_with_head    23524 non-null object
marital_status            23524 non-null object
education_level           23524 non-null object
job_type                  23524 non-null object
country_Kenya             23524 non-null uint8
country_Rwanda            23524 non-null uint8
country_Tanzania          23524 non-null uint8
country_Uganda            23524 non-null uint8
dtypes: int64(3), object(9), uint8(4)
memory usage: 2.2+ MB

In [9]:
np.unique(train_update['year'])

array([2016, 2017, 2018], dtype=int64)

In [10]:
train_update['year'][train_update['year']==2016] = 0
train_update['year'][train_update['year'] == 2017] = 1
train_update['year'][train_update['year']== 2018] = 2

In [11]:
np.unique(train_update['year'])

array([0, 1, 2], dtype=int64)

In [12]:
len(np.unique(train_update['uniqueid']))

8735

In [13]:
np.unique(train_update['bank_account'])

array(['No', 'Yes'], dtype=object)

In [14]:
train_update['bank_account'][train_update['bank_account']=='No'] = 0
train_update['bank_account'][train_update['bank_account']=='Yes'] = 1



target = train_update['bank_account']
train_update = train_update.drop('bank_account', axis = 1)

In [15]:
target[:2]

0    1
1    0
Name: bank_account, dtype: object

In [16]:
train_update.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23524 entries, 0 to 23523
Data columns (total 15 columns):
year                      23524 non-null int64
uniqueid                  23524 non-null object
location_type             23524 non-null object
cellphone_access          23524 non-null object
household_size            23524 non-null int64
age_of_respondent         23524 non-null int64
gender_of_respondent      23524 non-null object
relationship_with_head    23524 non-null object
marital_status            23524 non-null object
education_level           23524 non-null object
job_type                  23524 non-null object
country_Kenya             23524 non-null uint8
country_Rwanda            23524 non-null uint8
country_Tanzania          23524 non-null uint8
country_Uganda            23524 non-null uint8
dtypes: int64(3), object(8), uint8(4)
memory usage: 2.1+ MB

In [17]:
np.unique(train_update['location_type'])

array(['Rural', 'Urban'], dtype=object)

In [18]:
train_update['location_type'][train_update['location_type'] == 'Urban'] = 1
train_update['location_type'][train_update['location_type'] == 'Rural'] = 0

In [19]:
np.unique(train_update['cellphone_access'])

array(['No', 'Yes'], dtype=object)

In [20]:
train_update['cellphone_access'][train_update['cellphone_access']=='Yes'] = 1
train_update['cellphone_access'][train_update['cellphone_access'] == 'No'] = 0

In [21]:
np.unique(train_update['gender_of_respondent'])

array(['Female', 'Male'], dtype=object)

In [22]:
train_update = pd.get_dummies(train_update, columns = ['gender_of_respondent'])

In [23]:
train_update.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23524 entries, 0 to 23523
Data columns (total 16 columns):
year                           23524 non-null int64
uniqueid                       23524 non-null object
location_type                  23524 non-null object
cellphone_access               23524 non-null object
household_size                 23524 non-null int64
age_of_respondent              23524 non-null int64
relationship_with_head         23524 non-null object
marital_status                 23524 non-null object
education_level                23524 non-null object
job_type                       23524 non-null object
country_Kenya                  23524 non-null uint8
country_Rwanda                 23524 non-null uint8
country_Tanzania               23524 non-null uint8
country_Uganda                 23524 non-null uint8
gender_of_respondent_Female    23524 non-null uint8
gender_of_respondent_Male      23524 non-null uint8
dtypes: int64(3), object(7), uint8(6)
memory usage: 1.9+ MB

In [24]:
np.unique(train_update['relationship_with_head'])

array(['Child', 'Head of Household', 'Other non-relatives',
       'Other relative', 'Parent', 'Spouse'], dtype=object)

In [30]:
train_update =pd.get_dummies(train_update, columns = ['relationship_with_head'])

In [26]:
np.unique(train_update['marital_status'])

array(['Divorced/Seperated', 'Dont know', 'Married/Living together',
       'Single/Never Married', 'Widowed'], dtype=object)

In [31]:
train_update['marital_status'][train_update['marital_status'] == 'Married/Living together'] = 0
train_update['marital_status'][train_update['marital_status'] == 'Single/Never Married'] = 1
train_update['marital_status'][train_update['marital_status'] == 'Widowed'] = 2
train_update['marital_status'][train_update['marital_status'] == 'Divorced/Separated'] = 3
train_update['marital_status'][train_update['marital_status'] == 'Dont know'] = 4

In [27]:
np.unique(train_update['education_level'])

array(['No formal education', 'Other/Dont know/RTA', 'Primary education',
       'Secondary education', 'Tertiary education',
       'Vocational/Specialised training'], dtype=object)

In [32]:
train_update['education_level'][train_update['education_level'] == 'Tertiary education'] = 0
train_update['education_level'][train_update['education_level'] == 'Secondary education'] = 1
train_update['education_level'][train_update['education_level'] == 'Primary education'] = 2
train_update['education_level'][train_update['education_level'] == 'No formal education'] = 3
train_update['education_level'][train_update['education_level'] == 'Vocational/Specialised training'] = 4

In [28]:
np.unique(train_update['job_type'])

array(['Dont Know/Refuse to answer', 'Farming and Fishing',
       'Formally employed Government', 'Formally employed Private',
       'Government Dependent', 'Informally employed', 'No Income',
       'Other Income', 'Remittance Dependent', 'Self employed'], dtype=object)

In [ ]:
train_update['job_type'][train_update['job_type'] == 'Formally employed Private'] = 0
train_update['job_type'][train_update['job_type'] == 'Formally employed Government'] = 1